{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
<link rel="stylesheet" href="{% static 'css/test.css' %}">

<section class="user-wrap">
  <article class="user-photo">
    <img src="{{ user_info.my_photo.url }}">
  </article>
  {% if not user %}
  <article class="to-user">
    <a class="news" href="">소식받기</a>
    <a class="send-message" href="">쪽지보내기</a>
  </article>
  {% else %}
  <article class="to-user">
    <a class="news" href="">회원 정보 수정하기</a>
    <a class="send-message" href="">회원 탈퇴하기</a>
  </article>
  {% endif %}
  <article class="user-info">
    <table>
      <tr>
        <td>닉네임</td>
        <td>{{ user_info.nickname }}</td>
      </tr>
      <tr>
        <td>판매자 여부</td>
        {% if user_info.my_seller %}
        <td>판매자 등급인 책지기입니다 :)</td>
        {% else %}
        <td>판매자가 아닙니다.</td>
        {% endif %}
      </tr>
    </table>
  </article>
  {% if sell_books %}
  <article class="register-history">
    <p>{{ user_info.nickname }}님이 등록한 판매 도서 목록</p>
    <ul>
      {% for sell_book in sell_books %}
      <li class="">
        <img src="{{ sell_book.book_info.cover_img }}">
      </li>
      {% endfor %}
    </ul>
    <div id="btn-wrap" class="btn-wrap">
      <a href="" class="button">더보기</a>
    </div>
  </article>
  {% endif %}

  {% if buy_books %}
  <article class="register-history">
    <p>{{ user_info.nickname }}님이 등록한 구매 희망 도서 목록</p>
    <ul>
      {% for buy_book in buy_books %}
      <li class="">
        <img src="{{ buy_book.book_info.cover_img }}">
      </li>
      {% endfor %}
    </ul>
    <div id="btn-wrap" class="btn-wrap">
      <a href="" class="button">더보기</a>
    </div>
  </article>
  {% endif %}
{% endblock %}
