.container {
  width: 100%;
  height: auto;
  padding: 0 !important;
  margin: 0;
  font-family: 'NanumBarunpen'; }
  .container .header {
    width: 100%;
    height: auto;
    padding: 20px 0;
    margin-bottom: 20px;
    background: url("/static/images/book-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center; }
    .container .header h2 {
      margin: 30px 0;
      color: #fafafa; }
    .container .header hr {
      width: 72px; }
    .container .header p {
      color: #fafafa; }
    .container .header #myBtn {
      border: 1px solid #fafafa;
      border-radius: 10px;
      background: transparent;
      color: #fafafa;
      font-size: 16px;
      margin: 35px 0 20px 0;
      padding: 7px 35px; }
    .container .header #myBtn:hover {
      background: #ddd;
      color: #8d8d8d; }
  .container .input-form {
    width: 100%;
    height: auto;
    float: left; }
    .container .input-form .book-form {
      width: 80%;
      margin: 0 10%;
      height: auto; }
      .container .input-form .book-form label {
        width: 100%;
        margin-top: 25px;
        padding-left: 5px;
        height: 23px;
        line-height: 30px;
        color: #8d8d8d; }
      .container .input-form .book-form .form-wrap {
        width: 100%;
        height: auto;
        float: left; }
        .container .input-form .book-form .form-wrap #cover_img {
          display: none; }
        .container .input-form .book-form .form-wrap #title, .container .input-form .book-form .form-wrap #author, .container .input-form .book-form .form-wrap #publisher, .container .input-form .book-form .form-wrap #normal_price, .container .input-form .book-form .form-wrap #publication_date, .container .input-form .book-form .form-wrap #isbn {
          width: 100%;
          border: none;
          border-bottom: 1px solid #8d8d8d;
          background: transparent; }
        .container .input-form .book-form .form-wrap .used-price {
          width: 100%;
          height: 25px;
          border: none;
          border-bottom: 1px solid #8d8d8d;
          background: transparent; }
        .container .input-form .book-form .form-wrap .category {
          width: 100%; }
        .container .input-form .book-form .form-wrap .etc {
          width: 100%;
          border: none;
          border-bottom: 1px solid #8d8d8d;
          background: transparent; }
      .container .input-form .book-form #registerBtn {
        width: 100%;
        margin: 30px 0;
        padding: 7px 30px;
        border: none;
        border-radius: 5px;
        color: #fafafa;
        background: #5FCEC0; }

.major {
  width: 100%;
  height: 65px;
  background: #5FCEC0;
  color: #fafafa;
  font-size: 15px;
  font-weight: bold;
  padding: 0 3%;
  box-shadow: 3px 3px 5px #8c8c8c;
  z-index: 2;
  position: relative; }
  .major .left-space {
    width: 50%;
    height: 65px;
    line-height: 65px;
    text-align: left;
    float: left; }
  .major .right-space {
    width: 50%;
    height: 65px;
    line-height: 65px;
    text-align: right;
    float: left; }

.book-container {
  width: 100%;
  height: auto;
  background: #f1f1f1;
  position: relative;
  z-index: 1;
  float: left; }
  .book-container .book-wrap {
    width: 90%;
    margin: 20px 5%;
    padding: 10px;
    background: #fff;
    float: left; }
    .book-container .book-wrap .book-img {
      width: 14%;
      height: auto;
      float: left; }
      .book-container .book-wrap .book-img img {
        width: 100%; }
    .book-container .book-wrap .book-info {
      width: 86%;
      padding: 10px 0 10px 10px;
      margin: 0;
      list-style: none;
      float: left; }
      .book-container .book-wrap .book-info .book-list-title {
        font-size: 13px;
        margin: 2px 0; }
        .book-container .book-wrap .book-info .book-list-title span {
          margin-right: 5px; }
          .book-container .book-wrap .book-info .book-list-title span a {
            color: #bdbdbd; }
      .book-container .book-wrap .book-info .book-list-price {
        height: 20px;
        line-height: 20px;
        font-size: 13px;
        color: #5d5d5d; }
        .book-container .book-wrap .book-info .book-list-price span {
          font-weight: bold;
          font-size: 14px;
          color: #FF5E00;
          padding-bottom: 10px; }
      .book-container .book-wrap .book-info .book-list-info {
        height: 20px;
        line-height: 20px;
        font-size: 13px; }
        .book-container .book-wrap .book-info .book-list-info span {
          color: #ddd;
          margin: 0 3px; }
      .book-container .book-wrap .book-info .look-detail {
        display: inline-block;
        font-size: 15px;
        font-family: 'Nanumbarunpen';
        margin-top: 7px;
        padding: 5px 25px;
        background: #135589;
        color: #fafafa;
        border-radius: 6px; }
      .book-container .book-wrap .book-info .look-detail:hover {
        text-decoration: none;
        background: skyblue; }
      .book-container .book-wrap .book-info form {
        display: inline-block; }
        .book-container .book-wrap .book-info form .wish-list {
          background: none;
          font-size: 15px;
          font-family: 'Nanumbarunpen';
          margin-top: 7px;
          padding: 5px 25px;
          border: 1px solid #135589;
          color: #135589;
          border-radius: 6px; }
        .book-container .book-wrap .book-info form .wish-list:hover {
          text-decoration: none;
          background: skyblue; }

/*  */
.book-detail {
  width: 80%;
  height: auto;
  margin: 5% 10%; }
  .book-detail img {
    width: 35%;
    float: left;
    padding: 5px;
    border: 1px double #ddd; }
  .book-detail ul {
    width: 65%;
    float: left;
    list-style: none; }
    .book-detail ul .category {
      color: #bdbdbd;
      margin-top: 10px; }
    .book-detail ul .title {
      font-size: 19px;
      height: 35px;
      line-height: 35px; }
    .book-detail ul .author {
      margin-bottom: 5px; }
      .book-detail ul .author span {
        padding: 0 10px; }
    .book-detail ul .price {
      color: #444444;
      font-size: 15px;
      height: 20px;
      line-height: 20px; }
      .book-detail ul .price .arrow {
        margin: 0 10px; }
      .book-detail ul .price .used-price {
        font-size: 16px;
        color: #f03c97; }
    .book-detail ul .isbn {
      margin-top: 5px;
      margin-bottom: 20px;
      color: #757081;
      font-size: 13px; }
    .book-detail ul .btns {
      font-size: 17px;
      padding-top: 30px;
      border-top: 2px solid #ddd;
      font-family: 'Nanumbarunpen'; }
      .book-detail ul .btns .wish-list-btn {
        padding: 8px 5%;
        margin-right: 5px;
        border-radius: 3px;
        color: #fafafa;
        background: #c82370;
        text-decoration: none; }
      .book-detail ul .btns .buy-btn {
        padding: 8px 5%;
        border-radius: 3px;
        color: #fafafa;
        background: #cd394d;
        text-decoration: none; }

.book-status {
  width: 100%;
  height: auto;
  float: left; }
  .book-status ul {
    list-style: none;
    margin: 50px 0 0 0;
    padding: 0 0 0 1.5%; }
    .book-status ul p {
      font-size: 16px;
      color: #444444;
      font-family: 'Nanumbarunpen';
      padding-left: 10px; }
    .book-status ul li {
      width: 48%;
      margin: 5px 0.5%;
      display: inline-block; }
      .book-status ul li img {
        width: 100%; }

.comment {
  width: 100%;
  height: auto;
  margin-top: 50px;
  float: left; }
  .comment p {
    width: 100%;
    font-size: 18px;
    color: #444444;
    font-family: 'Nanumbarunpen';
    padding-left: 2.5%; }
    .comment p span {
      font-size: 14px; }
  .comment .create-comment {
    width: 95%;
    height: 120px;
    margin: 0 2.5% 30px 2.5%;
    padding: 10px;
    background: #f8f8f8;
    border: 1px solid #ddd; }
    .comment .create-comment .select {
      width: 100%;
      height: auto;
      margin-bottom: 5px; }
    .comment .create-comment .textarea {
      width: 90%;
      height: 60px;
      margin-right: 1%;
      float: left; }
    .comment .create-comment button {
      width: 9%;
      height: 60px;
      float: left;
      color: #fafafa;
      background: #08708a;
      border: none;
      border-radius: 5px; }
  .comment .comment-list {
    border-top: 2px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 40px;
    line-height: 40px; }
  .comment .comment-content {
    width: 90%;
    margin: 2.5% 5% 100px 5%; }
    .comment .comment-content ul {
      width: 100%;
      height: auto;
      float: left;
      padding: 0;
      margin: 0;
      list-style: none; }
      .comment .comment-content ul li {
        font-size: 14px; }
        .comment .comment-content ul li .date {
          padding: 0 10px;
          color: #bdbdbd;
          font-size: 13px; }
