@media (min-width: 952px) {
  .sidenav {
    height: 100%;
    width: 25%;
    position: fixed;
    transition: 0.3s;
    z-index: 5;
    top: 0;
    right: -35%;
    background-color: #fafafa;
    overflow-x: hidden;
    padding-top: 40px;
    text-align: left; }
    .sidenav .my-info {
      list-style: none;
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0; }
      .sidenav .my-info .my-photo {
        width: 31%;
        text-align: right;
        margin-bottom: 15px;
        padding-right: 5%;
        float: left; }
        .sidenav .my-info .my-photo img {
          width: 50px;
          height: 50px;
          border-radius: 100%; }
      .sidenav .my-info .my-page {
        width: 69%;
        height: 25px;
        line-height: 25px;
        margin-bottom: 20px; }
        .sidenav .my-info .my-page a {
          padding: 0;
          margin: 0;
          color: #444444;
          font-size: 14px;
          font-family: 'NanumBarunpen'; }
        .sidenav .my-info .my-page a:hover {
          color: pink; }
        .sidenav .my-info .my-page p {
          font-size: 12px; }
    .sidenav .my-list {
      width: 100%;
      height: auto;
      padding: 0 1% 0 1%;
      float: left;
      text-align: center; }
      .sidenav .my-list li {
        list-style: none;
        display: inline-block;
        width: 32%;
        margin: 0 0.05%;
        padding-left: 0;
        cursor: pointer; }
        .sidenav .my-list li a {
          display: inline-block;
          width: 100%;
          padding: 0 20% 5px 20%;
          margin-bottom: 20px;
          font-size: 11px;
          font-family: 'NanumBarunpen';
          color: #949494;
          text-decoration: none; }
          .sidenav .my-list li a img {
            width: 60%;
            margin: 10px 20% 10px 20%; }
          .sidenav .my-list li a span {
            color: #ED4C00;
            font-size: 10px; }
        .sidenav .my-list li a:hover {
          background: #ddd;
          color: #fff; }
    .sidenav a {
      padding: 10px 10px 10px 15px;
      text-decoration: none;
      font-size: 18px;
      color: #818181;
      display: block;
      transition: 0.3s; }
    .sidenav a:hover {
      color: #5FCEC0;
      text-decoration: none; }
    .sidenav .bar-element {
      margin: 0 20px;
      border-bottom: 1px solid #ddd; }
      .sidenav .bar-element:nth-child(8) {
        border-bottom: 1px solid #fafafa; }
    .sidenav .signupBtn {
      padding: 0 40px;
      margin: 25px 15px 10px 15px;
      text-align: center;
      font-size: 14px;
      color: #fafafa;
      background: rgba(95, 206, 192, 0.8);
      border-radius: 5px;
      cursor: pointer; }
    .sidenav .loginBtn {
      padding: 0 40px;
      margin: 10px 15px;
      text-align: center;
      font-size: 14px;
      color: #757081;
      border: 1px solid #ddd;
      border-radius: 5px;
      cursor: pointer; }
    .sidenav .closebtn {
      position: absolute;
      text-decoration: none;
      top: 0;
      right: 15px;
      font-size: 36px;
      margin-left: 50px; }
  .message-screen {
    width: 75%;
    height: 100%;
    z-index: 5;
    transition: 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow-x: hidden; }
  .wish-screen {
    width: 75%;
    height: 100%;
    z-index: 5;
    transition: 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    background: pink;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.8); } }

@media (max-width: 951px) {
  .sidenav {
    height: 100%;
    width: 35%;
    position: fixed;
    transition: 0.3s;
    z-index: 5;
    top: 0;
    right: -35%;
    background-color: #fafafa;
    overflow-x: hidden;
    padding-top: 40px;
    text-align: left; }
    .sidenav .my-info {
      list-style: none;
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0; }
      .sidenav .my-info .my-photo {
        width: 23%;
        height: auto;
        margin: 5px 0.5% 15px 20px;
        text-align: right;
        padding-right: 4.5%;
        float: left; }
        .sidenav .my-info .my-photo img {
          width: 100%;
          height: 46px;
          border-radius: 100%; }
      .sidenav .my-info .my-page {
        width: 76.5%;
        height: 25px;
        line-height: 25px;
        margin-bottom: 20px; }
        .sidenav .my-info .my-page a {
          padding: 0;
          margin: 0;
          color: #444444;
          font-size: 13px;
          font-family: 'NanumBarunpen'; }
        .sidenav .my-info .my-page a:hover {
          color: #ddd; }
        .sidenav .my-info .my-page p {
          font-size: 12px; }
    .sidenav .my-list {
      width: 100%;
      height: auto;
      padding: 0 1% 0 1%;
      float: left;
      text-align: center; }
      .sidenav .my-list li {
        list-style: none;
        display: inline-block;
        width: 32%;
        margin: 0 0.05%;
        padding-left: 0;
        cursor: pointer; }
        .sidenav .my-list li a {
          display: inline-block;
          width: 100%;
          padding: 0 20% 5px 20%;
          margin-bottom: 20px;
          font-size: 11px;
          font-family: 'NanumBarunpen';
          color: #949494;
          text-decoration: none; }
          .sidenav .my-list li a img {
            width: 60%;
            margin: 10px 20% 10px 20%; }
          .sidenav .my-list li a span {
            color: #ED4C00;
            font-size: 10px; }
        .sidenav .my-list li a:hover {
          background: #ddd;
          color: #fff; }
    .sidenav a {
      padding: 10px 10px 10px 15px;
      text-decoration: none;
      font-size: 18px;
      color: #818181;
      display: block;
      transition: 0.3s; }
      .sidenav a:hover {
        color: #5FCEC0;
        text-decoration: none; }
    .sidenav .bar-element {
      margin: 0 20px;
      border-bottom: 1px solid #ddd; }
      .sidenav .bar-element:nth-last-child(1) {
        border-bottom: none; }
    .sidenav .signupBtn {
      padding: 7px 40px;
      margin: 25px 15px 10px 15px;
      text-align: center;
      font-size: 14px;
      color: #fafafa;
      background: rgba(95, 206, 192, 0.8);
      border-radius: 5px;
      cursor: pointer; }
      .sidenav .signupBtn:hover {
        background: #ddd; }
    .sidenav .loginBtn {
      padding: 7px 40px;
      margin: 10px 15px;
      text-align: center;
      font-size: 14px;
      border: 1px solid #ddd;
      border-radius: 5px;
      cursor: pointer; }
      .sidenav .loginBtn:hover {
        border: 1px solid #5FCEC0; }
    .sidenav .closebtn {
      position: absolute;
      text-decoration: none;
      top: 0;
      right: 15px;
      font-size: 36px;
      margin-left: 50px; }
  .message-screen {
    width: 65%;
    height: 100%;
    z-index: 5;
    transition: 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow-x: hidden; }
  .wish-screen {
    width: 65%;
    height: 100%;
    z-index: 5;
    transition: 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    background: pink;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.8); } }

@media (max-width: 710px) {
  .sidenav {
    height: 100%;
    width: 35%;
    position: fixed;
    transition: 0.3s;
    z-index: 5;
    top: 0;
    right: -35%;
    background-color: #fafafa;
    overflow-x: hidden;
    padding-top: 40px;
    text-align: left; }
    .sidenav .my-info {
      list-style: none;
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0; }
      .sidenav .my-info .my-photo {
        width: 22%;
        height: auto;
        margin: 5px 0 15px 15px;
        text-align: right;
        padding-right: 5%;
        float: left; }
        .sidenav .my-info .my-photo img {
          width: 100%;
          height: 41px;
          border-radius: 100%; }
      .sidenav .my-info .my-page {
        width: 78%;
        height: 25px;
        line-height: 25px;
        margin-bottom: 20px; }
        .sidenav .my-info .my-page a {
          padding: 0;
          margin: 0;
          color: #444444;
          font-size: 13px;
          font-family: 'NanumBarunpen'; }
        .sidenav .my-info .my-page a:hover {
          color: #ddd; }
        .sidenav .my-info .my-page p {
          font-size: 12px; }
    .sidenav .my-list {
      width: 100%;
      height: auto;
      padding: 0 1% 0 1%;
      float: left;
      text-align: center; }
      .sidenav .my-list li {
        list-style: none;
        display: inline-block;
        width: 32%;
        margin: 0 0.05%;
        padding-left: 0;
        cursor: pointer; }
        .sidenav .my-list li a {
          display: inline-block;
          width: 100%;
          padding: 0 20% 5px 20%;
          margin-bottom: 20px;
          font-size: 11px;
          font-family: 'NanumBarunpen';
          color: #949494;
          text-decoration: none; }
          .sidenav .my-list li a img {
            width: 60%;
            margin: 10px 20% 10px 20%; }
          .sidenav .my-list li a span {
            color: #ED4C00;
            font-size: 10px; }
        .sidenav .my-list li a:hover {
          background: #ddd;
          color: #fff; }
    .sidenav a {
      padding: 10px 10px 10px 15px;
      text-decoration: none;
      font-size: 18px;
      color: #818181;
      display: block;
      transition: 0.3s; }
    .sidenav a:hover {
      color: #5FCEC0;
      text-decoration: none; }
    .sidenav .bar-element {
      margin: 0 20px;
      border-bottom: 1px solid #ddd; }
      .sidenav .bar-element:nth-child(8) {
        border-bottom: 1px solid #fafafa; }
    .sidenav .signupBtn {
      padding: 0 40px;
      margin: 25px 15px 10px 15px;
      text-align: center;
      font-size: 14px;
      color: #fafafa;
      background: rgba(95, 206, 192, 0.8);
      border-radius: 5px;
      cursor: pointer; }
    .sidenav .loginBtn {
      padding: 0 40px;
      margin: 10px 15px;
      text-align: center;
      font-size: 14px;
      color: #757081;
      border: 1px solid #ddd;
      border-radius: 5px;
      cursor: pointer; }
    .sidenav .closebtn {
      position: absolute;
      text-decoration: none;
      top: 0;
      right: 15px;
      font-size: 36px;
      margin-left: 50px; }
  .message-screen {
    width: 65%;
    height: 100%;
    z-index: 5;
    transition: 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow-x: hidden; }
  .wish-screen {
    width: 65%;
    height: 100%;
    z-index: 5;
    transition: 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    background: pink;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.8); } }
