{% load i18n %}
{% load static %}
<html>
<head>
  <link rel="stylesheet" href="{% static 'css/message.css' %}">
</head>
<body>
  <p class="h1">받은 쪽지함</p>
    <table class="messages">
      <thead>
        <tr>
          <th>보내는 사람</th>
          <th>제목</th>
          <th>받은 날짜</th>
          <th>삭제</th>
        </tr>
      </thead>
      {% if message_list %}
      <tbody>
        {% for message in message_list %}
        <tr>
          <td>{{ message.sender.nickname }}</td>
          <td>
            {% if message.new %}<strong>{% endif %}
            {% if message.replied %}<em>{% endif %}
            <a class="detail" data-value="{{ message.id }}">{{ message.subject|truncatechars:9 }}</a>
            {% if message.replied %}</em>{% endif %}
            {% if message.new %}</strong>{% endif %}
          </td>
          <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
          <td>
            <a class="delBtn" data-value="{{ message.id }}">
              Delete
            </a>
          </td>
        </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td style="color: #fafafa; font-size: 15px;" colspan="4">No messages</td>
        </tr>
      </tbody>
      {% endif %}
    </table>
    <div class="pagenator">
      {% if message_list.has_previous %}
      <a href="{{ request.path }}?page=1">처음</a>
      <a href="{{ request.path }}?page={{ message_list.previous_page_number }}">{{ message_list.previous_page_number }}</a>
      {% endif %}
      <a class="current">{{ message_list.number }}</a>
      {% if message_list.has_next %}
      <a href="{{ request.path }}?page={{ message_list.next_page_number }}">{{ message_list.next_page_number }}</a>
      <a href="{{ request.path }}?page={{ message_list.paginator.num_pages }}">끝</a>
      {% endif %}
    </div>
    <a class="sub-box" href="{% url 'messages_outbox' %}">보낸 쪽지함</a>
    <a href="" class="new-message">새 쪽지쓰기</a>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript">

    // 쪽지 삭제
    $(".delBtn").click(function(e){
      var message_id = e.target.dataset.value;
      delMessage(message_id);
    });

    function delMessage(message_id){
      $.ajax({
        type: "GET",
        url: "http://localhost:8000/messages/delete/" + message_id,
        success: function (response) {
          $("#messageScreen").html(response);
        },
        error: function (request, status, error) {
          $("#messageScreen").html(error);
        }
      });
      event.preventDefault();
    }

    // 쪽지 내용 보기
    $(".detail").click(function(e){
      var message_id = e.target.dataset.value;
      viewMessage(message_id);
    });

    function viewMessage(message_id){
      $.ajax({
        type: "GET",
        url: "http://localhost:8000/messages/view/" + message_id,
        success: function (response) {
          $("#messageScreen").html(response);
        },
        error: function (request, status, error) {
          $("#messageScreen").html(error);
        }
      });
      event.preventDefault();
    }

    // 보낸 쪽지함 이동
    $(".sub-box").click(function(e){
      $.ajax({
        type: "GET",
        url: "{% url 'messages_outbox' %}",
        success: function (response) {
          $("#messageScreen").html(response);
        },
        error: function (request, status, error) {
          $("#messageScreen").html(error);
        }
      });
      event.preventDefault();
    });

    // 새 메세지 쓰기
    $(".new-message").click(function(e){
      $.ajax({
        type: "GET",
        url: "{% url 'messages_compose' %}",
        success: function (response) {
          $("#messageScreen").html(response);
        },
        error: function (request, status, error) {
          $("#messageScreen").html(error);
        }
      });
      event.preventDefault();
    });
  </script>
</body>
</html>
