{% load i18n %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/message.css' %}">
<section class="message-headers">
  <article class="subject">
    {{ message.subject }}
    <span class="date">{{ message.sent_at|date:_("DATETIME_FORMAT")}}</span>
  </article>
  <article class="content">
    <p>{{ message.body|linebreaksbr }}</p>
    from <a href="#">{{ message.sender.nickname }}</a>
  </article>
</section>
<button class="prev">이전으로</button>
{% if message.sender != request.user %}
  <button class="reply" data-value="{{ message.id }}">답장하기</button>
{% endif %}
<script>
  // 이전으로
  $(".prev").click(function(){
    var url = "";

    if (document.querySelector('.reply')) {
      url = "{% url 'messages_inbox' %}"
    } else {
      url = "{% url 'messages_outbox' %}"
    }

    $.ajax({
      type: "GET",
      url: url,
      success: function (response) {
        $("#messageScreen").html(response);
      },
      error: function (request, status, error) {
        $("#messageScreen").html(error);
      }
    });
    event.preventDefault();
  });

  // 답장하기
  $(".reply").click(function(e){
    var message_id = e.target.dataset.value;

    $.ajax({
      type: "GET",
      url: "http://localhost:8000/books/messages/reply/" + message_id,
      success: function (response) {
        $("#messageScreen").html(response);
      },
      error: function (request, status, error) {
        $("#messageScreen").html(error);
      }
    });
    event.preventDefault();
  });
</script>
