<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="close">&times;</div>
    <form class="search-form">
      <div class="input-wrap">
        {{ search_form }}
        <button type="submit" id="book-search" class="book-search">검색</button>
      </div>
    </form>

    <div id="result" class="result"></div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
      // 검색에 따른 하단 비동기 데이터 처리
      var q = document.getElementById("q");
      var page = 1;

      $("#book-search").click(function (event) {
        var value = q.value;
        dataLoad(value, page);
      });

      function dataLoad(value, page) {
        $.ajax({
          type: "GET",
          url: "{% url 'book:naver_search_books' %}",
          data: {'q': value, 'page': page},
          //  data: {'q': value, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
          //  dataType: "json",
          success: function (response) {
            $("#result").html(response);
          },
          error: function (request, status, error) {
            $("#result").html(error);
          }
        });
        event.preventDefault();
      }

      // 페이지에 따른 비동기 데이터 처리
      function prevBtn() {
        var value = q.value;
        page -= 1;
        dataLoad(value, page);
      }

      function nextBtn() {
        var value = q.value;
        page += 1;
        dataLoad(value, page);
      }

      function checkValue() {
          var obj = eval("(" + $('input:checkbox:checked').val() + ")");
          console.log(obj);
          document.getElementById('cover_img').value = obj.image;
          document.getElementById('set_img').src = obj.image;
          document.getElementById('title').value = obj.title;
          document.getElementById('author').value = obj.author;
          document.getElementById('publisher').value = obj.publisher;
          document.getElementById('normal_price').value = obj.price
          document.getElementById('publication_date').value = obj.pubdate;
          document.getElementById('isbn').value = obj.isbn;
          modal.style.display = "none";
      }
    </script>
  </div>
</div>

<script>
  var modal = document.getElementById('myModal');
  var btn = document.getElementById("myBtn");
  var span = document.getElementsByClassName("close")[0];

  btn.onclick = function() {
      modal.style.display = "block";
  }

  span.onclick = function() {
      modal.style.display = "none";
  }

  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
</script>
