
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  {% if user.is_authenticated %}
    <ul class="my-info">
      <li class="my-photo">
        {% if user.user_type == 'f' %}
          <img src="{{ user.my_photo }}" alt="">
        {% else %}
          <img src="{{ user.my_photo.url }}">
        {% endif %}
      </li>
      <li class="my-page">
        <a href="#">{{ user.nickname }}</a>

        {% if user.my_seller %}
          <p>책지기 <a class="logout" href="{% url 'member:logout' %}">로그아웃</a></p>
        {% else %}
          <p>일반멤버</p>
        {% endif %}

      </li>
    </ul>

    <ul class="my-list">
      <li>
        <a id="messageBtn" class="messageBtn" data-value="1">
          <img src="/static/images/message.png">
          쪽지함
          {% if messages_inbox_count %}
            <span>new!</span>
          {% endif %}
        </a>
      </li>
      <li>
        <a id="wishBtn" class="wishBtn" data-value="2">
          <img src="/static/images/shopping-cart.png">
          위시리스트
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/static/images/list.png">
          구매목록
        </a>
      </li>
    </ul>

    <a class="bar-element" href="{% url 'book:buy_book_register' %}">사는 책 등록하기</a>

    {% if user.my_seller %}
      <a class="bar-element" href="{% url 'book:sell_book_register' %}">파는 책 등록하기</a>
    {% else %}
      <a class="bar-element" href="{% url 'member:seller_register' user.pk %}">Seller 등록하기</a>
    {% endif %}
  {% endif %}

  <a class="bar-element" href="{% url 'book:buy_book_list' %}">사는 책 목록</a>
  <a class="bar-element" href="{% url 'book:sell_book_list' %}">파는 책 목록</a>

  {% if not user.is_authenticated %}
    <a class="bar-element signupBtn" href="#">Sign Up</a>
    <a class="bar-element loginBtn" href="#">Log In</a>
  {% endif %}
</div>

<div id="messageScreen" style="display: none" class="message-screen">

</div>

<div id="wishScreen" style="display: none" class="wish-screen">

</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
  function openNav() {
    document.getElementById("mySidenav").style.right = "0px";
    // document.getElementById("callScreen").style.left = "0px";
  }

  var ms = document.getElementById("messageScreen");
  var ws = document.getElementById("wishScreen");

  var message_btn = document.querySelector('.messageBtn');
  message_btn.addEventListener('click', function(){
    if(ms.style.display === 'none' || ws.style.display === 'block') {
      ms.style.display = 'block';
      ws.style.display = 'none';
    } else {
      ms.style.display = 'none';
    }
  })

  var wish_btn = document.querySelector('.wishBtn');
  wish_btn.addEventListener('click', function(){
    if(ws.style.display === 'none' || ms.style.display === 'block') {
      ws.style.display = 'block';
      ms.style.display = 'none';
    } else {
      ws.style.display = 'none';
    }
  })

  function closeNav() {
    document.getElementById("mySidenav").style.right = "-35%";
    document.getElementById("messageScreen").style.display = "none";
    document.getElementById("wishScreen").style.display = "none";
  }

  // 쪽지함
  $("#messageBtn").click(function(e){
    var data_value = e.target.dataset.value;
    dataCall(data_value);
  });

  // 위시리스트
  $("#wishBtn").click(function(e){
    var data_value = e.target.dataset.value;
    dataCall(data_value);
  });

  function dataCall(data_value){
    var url = "";
    if (data_value == "1") {
      url = "{% url 'messages_inbox' %}";
    } else {
      url = "{% url 'book:book_wish_list' %}"
    }

    $.ajax({
      type: "GET",
      url: url,
      success: function (response) {
        if (url === "{% url 'messages_inbox' %}") {
          $("#messageScreen").html(response);
        } else {
          $("#wishScreen").html(response);
        }
      },
      error: function (request, status, error) {
        $("#result").html(error);
      }
    });
  }
</script>
