<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a class="bar-element" href="#">About</a>
  <a class="bar-element" href="#">Services</a>
  <a class="bar-element" href="#">About</a>
  <a class="bar-element" href="#">Services</a>
  <a class="bar-element" href="#">About</a>
  <a class="bar-element signupBtn" href="#">Sign Up</a>
  <a class="bar-element loginBtn" href="#">Log In</a>
</div>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "270px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
</script>
