
#header {
  width: 100%;
  border-bottom: 1px solid #ddd;

  .logo {
    display: inline-block;
    color: #444444;
    font-size: 24px;
    width: 57.5%;
    text-align: right;
    padding: 4px 0 8px 0;
    font-family: 'Amatica SC';
    font-weight: bold;
  }

  .sidebar-toggle-box {
    float: right;

    .fa-bars {
      cursor: pointer;
      display: inline-block;
      font-size: 18px;
      color: #5FCEC0;
      border: 1px solid #ddd;
      padding: 10px 12px;
    }

    .fa-bars:hover {
      border: 1px solid #ddd;
      color: #ddd;
    }
  }
}
