.sidenav {
  height: 100%;
  width: 35%;
  position: fixed;
  transition: 0.3s;
  z-index: 5;
  top: 0;
  right: -35%;
  background-color: #fafafa;
  overflow-x: hidden;
  padding-top: 40px;
  text-align: left;

  .my-info {
    list-style: none;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;

    .my-photo {
      width: 31%;
      text-align: right;
      margin-bottom: 15px;
      padding-right: 5%;
      float: left;

      img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
      }
    }

    .my-page {
      width: 69%;
      height: 25px;
      line-height: 25px;
      margin-bottom: 20px;

      a {
        padding: 0;
        margin: 0;
        color: #444444;
        font-size: 16px;
        font-family: 'NanumBarunpen';
      }

      a:hover {
        color: pink;
      }

      p {
        font-size: 12px;

        .logout {
          display: inline;
          font-size: 12px;
          float: right
        }
      }
    }
  }

  .my-list {
    width: 100%;
    height: auto;
    padding: 0 1% 0 1%;
    float: left;
    text-align: center;

    li {
      list-style: none;
      display: inline-block;
      width: 32%;
      margin: 0 0.05%;
      padding-left: 0;
      cursor: pointer;

      a {
        display: inline-block;
        width: 100%;
        padding: 0 20% 5px 20%;
        margin-bottom: 20px;
        font-size: 11px;
        font-family: 'NanumBarunpen';
        color: #949494;
        text-decoration: none;

        img {
          width: 60%;
          margin: 10px 20% 10px 20%;
        }

        span {
          color: #ED4C00;
          font-size: 10px;
        }
      }

      a:hover {
        background: #ddd;
        color: #fff;
      }
    }
  }

  a {
    padding: 10px 10px 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  a:hover {
    color: #5FCEC0;
    text-decoration: none;
  }

  .bar-element {
    margin: 0 20px;
    border-bottom: 1px solid #ddd;

    &:nth-child(8) {
      border-bottom: 1px solid #fafafa;
    }
  }

  .signupBtn {
    padding: 0 40px;
    margin: 25px 15px 10px 15px;
    text-align: center;
    font-size: 14px;
    color: #fafafa;
    background: rgba(95, 206, 192, 0.8);
    border-radius: 5px;
    cursor: pointer;
  }

  .loginBtn {
    padding: 0 40px;
    margin: 10px 15px;
    text-align: center;
    font-size: 14px;
    color: #757081;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }

  .closebtn {
    position: absolute;
    text-decoration: none;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
  }
}

.message-screen {
  width: 65%;
  height: 100%;
  z-index: 5;
  transition: 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
}

.wish-screen {
  width: 65%;
  height: 100%;
  z-index: 5;
  transition: 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  background: pink;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.8);
}
