.wish-title {
 width: 90%;
 margin: 70px 5% 30px 5%;
 font-size: 24px;
 color: #fafafa;
 font-family: 'Nanumbarunpen';
}

.wish-wrap {
 width: 90%;
 margin: 1.5% 5%;
 position: relative;

 article {
   width: 100%;
   height: auto;
   padding: 15px;
   border-top: 1px solid #fafafa;
   float: left;

   &:nth-last-child(1) {
     border-bottom: 1px solid #fafafa;
   }

   .cover-img {
     width: 15%;
     margin: 0 5% 0 0;
     float: left;


     img {
       width: 100%;
     }
   }

   ul.wish-lists {
     color: #fafafa;
     width: 80%;
     padding: 0 2.5%;
     font-size: 12px;
     list-style: none;

     li {
       &:nth-child(1) {
         font-size: 13px;

         a {
           color: #fafafa;
         }
       }

       &:nth-child(2) {
         color: #EB539E;
       }

       .buyBtn {
         display: inline-block;
         border: 1px solid #fafafa;
         border-radius: 5px;
         background: transparent;
         color: #fafafa;
         font-size: 14px;
         padding: 0 2.5%;
         margin-top: 5px;
         cursor: pointer;
         text-decoration: none;

         &:hover {
           color: skyblue;
           border: 1px solid skyblue;
         }
       }
     }
   }
 }
}

.paginator {
  margin-top: 15px;
  width: 100%;
  height: 35px;
  float: left;
  text-align: center;

  a {
    text-decoration: none;
    display: inline-block;
    padding: 3px 7px;
    margin: 0 3px;
    border: 1px solid #fafafa;
    color: #fafafa;
    background: transparent;

    &:hover {
      color: #8d8d8d;
      background: #fafafa;
    }
  }

  .current {
    color: #8d8d8d;
    background: #f1f1f1;
  }
}
