{% extends 'common/base.html' %}
{% block content %}

<section class="major">
  <article class="left-space">Page {{ books.number }} of {{ books.paginator.num_pages }}</article>
  <article class="right-space">{{ all_books.count }} results found</article>
</section>
<section class="subject">
  <article class="subject-ele">
    구매 희망 도서목록
  </article>
</section>
<div class="book-container">
  {% for book in books %}
  <section class="book-wrap">
    <article class="book-img">
      <a href="{% url 'book:buy_book_detail' book.pk %}">
        <img src="{{ book.book_info.cover_img }}">
      </a>
    </article>
    <ul class="book-info">
      <li class="book-list-title">
        <span><a href="#">[{{ book.book_info.category }}]</a></span>
        {{ book.book_info.title|striptags }}
      </li>
      <li class="book-list-price">
        희망가: {{ book.used_price }}원
      </li>
      <li class="book-list-info">
        구매자:
        {% if not user.authenticated %}
          {{ book.buyer.nickname }}
        {% else %}
          <a href="{% url 'member:user_info' book.buyer.nickname %}">{{ book.buyer.nickname }}</a>
        {% endif %}
        <span>|</span>
        작성일: {{ book.created }}
      </li>
      <li>
        <a class="look-detail" href="{% url 'book:buy_book_detail' book.pk %}">자세히 보기</a>
      </li>
    </ul>
  </section>
  {% endfor %}
</div>
<div class="common-pagenator">
  {% if books.has_previous %}
  <a href="{{ request.path }}?page=1">처음</a>
  <a href="{{ request.path }}?page={{ books.previous_page_number }}">이전</a>
  {% endif %}
  <a>{{ books.number }}</a>
  {% if books.has_next %}
  <a href="{{ request.path }}?page={{ books.next_page_number }}">다음</a>
  <a href="{{ request.path }}?page={{ books.paginator.num_pages }}">끝</a>
  {% endif %}
</div>

{% endblock %}
