{% extends 'common/base.html' %}

{% block content %}

<section class="major">
  <article class="left-space">
    <a href="{% url 'book:buy_book_list' %}">구매 희망 도서 목록으로 이동</a>
  </article>
  <article class="right-space">
    <a href="#">내 구매 현황</a>
  </article>
</section>
<div class="container">
  <section class="buy-header">
    <h2> 구매 희망 도서 등록하기 </h2>
    <hr>
    <p>
      등록하려는 책 검색을 위해 아래 버튼을 눌러주세요 :-)
    </p>
    <button id="myBtn">책 검색하기</button>
  </section>
  <section class="input-form">
    <form class="book-form" action="" method="POST">
      {% csrf_token %}
        <article class="img-wrap">
            <img src="" id="set_img">
        </article>
        <article class="form-wrap">
            {{ register_form }}
        </article>
        <button type="submit" id="registerBtn">등록하기</button>
    </form>
  </section>
  {% include 'include/search_window.html' %}
</div>
{% endblock %}
