{% for result in results %}
<section class="book-wrap">
  <input type="checkbox" class="checkbox" id="checkBox" value="{{result}}">
  <img src="{{ result.image }}" class="book-img">
  <ul class=book-info>
    <li>
      <a href="{{ result.link }}">{{ result.title|safe }}</a>
    </li>
    <li>
        저자 : {{ result.author|safe }}
    </li>
    <li>
        정상가 : {{ result.price }}
    </li>
    <li>
        출판사 : {{ result.publisher|safe }}
    </li>
    <li>
        발행일 : {{ result.pubdate }}
    </li>
    <li>
        isbn : {{ result.isbn|safe }}
    </li>
  </ul>
</section>
{% endfor %}

<div class="pagination">
  <span class="step-links">
    {% if results.has_previous %}
      <button id="prev" onClick="prevBtn()">prev</button>
    {% endif %}

    <span class="current">
      Page {{ results.number }} of {{ results.paginator.num_pages }}
    </span>

    {% if results.has_next %}
      <button id="next" onClick="nextBtn()">next</button>
    {% endif %}
  </span>
  <button class="select" onClick="checkValue()">선택</button>
</div>
