{% extends 'common/base.html' %}

{% block content %}
{% load static %}
<div class="container">
  <section class="header">
    <h2> 파는 책 등록하기 </h2>
    <hr>
    <p>
      등록하려는 책을 검색하시려면 아래 버튼을 눌러주세요 :-)
    </p>
    <button id="myBtn" class="my-btn">책 검색하기</button>
  </section>
  <section class="input-form">
    <form class="book-form" action="" method="POST">
      {% csrf_token %}
        <article class="img-wrap">
            <img src="" id="set_img">
        </article>
        <article class="form-wrap">
            {{ register_form }}
        </article>
        <button type="submit" id="registerBtn">등록하기</button>
    </form>
  {% include 'include/search_window.html' %}
  </section>
</div>
{% endblock %}