{% extends 'common/base.html' %}

{% block content %}

<section class="major">
  <article class="left-space">
    <a href="{% url 'book:sell_book_list' %}">판매 도서 리스트로 이동</a>
  </article>
  <article class="right-space">
    <a href="#">내 판매 현황</a>
  </article>
</section>
<div class="container">
  <section class="sell-header">
    <h2>판매 도서 등록하기</h2>
    <hr>
    <p>
      등록하려는 책을 검색하시려면 아래 버튼을 눌러주세요 :-)
    </p>
    <button id="myBtn" class="my-btn">책 검색하기</button>
  </section>
  <section class="input-form">
    <form class="book-form" action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        <article class="img-wrap">
            <img src="" id="set_img">
        </article>
        <article class="form-wrap">
            {{ register_form }}
        </article>
        <button type="submit" id="registerBtn">등록하기</button>
    </form>
  {% include 'include/search_window.html' %}
  </section>
</div>

<script>
//  $("#sell_book_status").on("change", function() {
//      if($("#sell_book_status")[0].files.length > 4) {
//          alert("파일은 최대 4개까지만 업로드 가능합니다.");
//          return false;
//      } else {
//          $(".book-form").submit();
//      }
//  })
</script>

{% endblock %}
