{% extends 'common/base.html' %}
{% load show_score %}

{% block content %}
<section class="major">
  <article class="left-space">Page 11 of 55</article>
  <article class="right-space">77 results found</article>
</section>
<section class="book-detail">
  <img src="{{ book.book_info.cover_img }}" alt="">
  <ul>
      <li class="category">
        [{{ book.book_info.category }}]
      </li>
      <li class="title">
        {{ book.book_info.title|striptags }}
      </li>
      <li class="author">
        <a href="#">{{ book.book_info.author }}</a> (지은이) <span> | </span>
        <a href="#">{{ book.book_info.publisher }}</a> <span> | </span>
        {{ book.book_info.publication_date }}
      </li>
      <li class="price">
        정가 : {{ book.book_info.normal_price }}원
        <span class="arrow"> ➡ </span>
        <span class="used-price"> 중고가 : {{ book.used_price }}원 </span>
      </li>
      <li class="isbn">
        ISBN : {{ book.book_info.isbn }}
      </li>
      <li class="btns">
        <a href="#" class="wish-list-btn">위시리스트에 담기</a>
        <a href="#" class="buy-btn">바로구매</a>
      </li>
  </ul>
</section>
<section class="book-status">
  <ul>
    <p>책 상태 이미지</p>
    <li>
      <img src="/static/images/animals.jpg">
    </li>
    <li>
      <img src="/static/images/animals.jpg">
    </li>
    <li>
      <img src="/static/images/animals.jpg">
    </li>
    <li>
      <img src="/static/images/animals.jpg">
    </li>
  </ul>
</section>
<section class="comment">
  <p>댓글 달기 <span>총 <a href="#">0</a>개</span></p>
  <article>
    <form action="{% url 'book:create_comment' book.pk %}" method="POST">
      {% csrf_token %}
      <div class="select">
        {{ comment_form.star_score }}
      </div>
      {{ comment_form.content }}
      <button type="submit">댓글<br>달기</button>
    </form>
    <ul>
      {% for comment in comments %}
        <li>
          {{ comment.user.nickname }} <span class="date">{{ comment.created }}</span>
          {{ comment.star_score|star }}
          <p>{{ comment.content }}</p>
        </li>
      {% endfor %}
    </ul>
  </article>
</section>
{% endblock %}
