{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- CSS, Font -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <link rel="stylesheet" href="{% static 'css/nav.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

  <link href='https://fonts.googleapis.com/css?family=Amatica SC' rel='stylesheet'>

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <title>BongDal</title>
</head>
<body>
  <div class="main-bg">
    <section id="header">
      <article class="logo-wrap">
        <a href="{% url 'book:main' %}" class="logo">BongDal<a>
      </article>
      <article class="regibook">
        {% if user.is_authenticated %}
          <a href="{% url 'book:buy_book_register' %}">구매 희망 도서 등록하기</a>
        {% else %}
          <a href="{% url 'book:main' %}">구매 희망 도서 등록하기</a>
        {% endif %}
      </article>
      <article class="regibook">
        {% if user.is_authenticated and not user.my_seller %}
          <a href="{% url 'member:seller_register' user.pk %}">판매자 등록하기</a>
          <span class="guidetext">판매자 등록을 해주세요 :-)</span>
        {% elif not user.is_authenticated %}
          <a href="{% url 'book:main' %}">판매자 등록하기</a>
          <span class="guidetext">로그인 또는 회원가입을 해주세요!</span>
        {% else %}
          <a href="{% url 'book:sell_book_register' %}">판매 도서 등록하기</a>
        {% endif %}
      </article>
      <article class="sidebar-toggle-box">
        <div class="fa-bars" data-placement="right" onclick="openNav()">
          <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        {% include 'include/side-nav.html' %}
      </article>
    </section>
    <section class="slider-wrap" id="">
      <article class="slider">
        <ul>
          {% for new_book in new_books %}
            <li class="slider-ele">
              <div class="cover-img">
                <a href="{% url 'book:sell_book_detail' new_book.pk %}"><img src="{{ new_book.book_info.cover_img }}"></a>
              </div>
              <div class="title"><a href="{% url 'book:sell_book_detail' new_book.pk %}">{{ new_book.book_info.title|truncatechars:40 }}</a></div>
              <div class="info">[{{ new_book.book_info.category }}]</div>
            </li>
          {% endfor %}
        </ul>
      </article>
      <a href="#" class="slider-arrow sa-left">&lt;</a>
      <a href="#" class="slider-arrow sa-right">&gt;</a>

      <div class="inner">
        <a href="{% url 'book:sell_book_list' %}" class="detail">자세히 보기</a>
        <a class="best-seller">주간 베스트 셀러</a>
      </div>
    </section>
  </div>

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="{% static 'js/carousel.js' %}"></script>
  <script>
    var visible = 0;
    if (matchMedia("(min-width: 893px)").matches){
      visible = 6;
    } else {
      visible = 4;
    }

    jQuery('.slider').lbSlider({
      leftBtn: '.sa-left',
      rightBtn: '.sa-right',
      visible: visible,
      autoPlay: true,
      autoPlayDelay: 10
    });
  </script>

  <!-- 나를 위한 책(추천 알고리즘 적용) -->
  <div class="recommend-book">
    나를 위한 추천 도서
  </div>
  <ul class="book-box" id="book-box">
    <li class="book-info">
      <div class="img-hover-show-box" id="img-hover-show-box">
        <img src="/static/images/book_sample3.jpg" class="book-img" id="book-img">
        {% if user.authenticated %}
          <form action="{% url 'book:book_wish_detail' bonobono.pk %}" method="POST">
            {% csrf_token %}
            <a id="aSubmit" onclick="this.parentNode.submit(); return false;" href="#">
              <img src="/static/images/bucket.png" class="bucket" id="bucket">
            </a>
          </form>
          <a href="{% url 'book:sell_book_detail' bonobono.pk %}"><img src="/static/images/info.png" class="info" id="info"></a>
        {% else %}
          <a href="{% url 'book:main' %}">
            <img src="/static/images/bucket.png" class="bucket" id="bucket">
          </a>
          <a href="{% url 'book:main' %}"><img src="/static/images/info.png" class="info" id="info"></a>
        {% endif %}
      </div>
    </li>
    <li class="title">
      <a href="#">보노보노처럼 살다니 다행이야</a>
    </li>
    <li class="author">
      <a href="#">김신회</a>
    </li>
  </ul>
  <ul class="book-box" id="book-box">
    <li class="book-info">
      <div class="img-hover-show-box" id="img-hover-show-box">
        <img src="/static/images/book_sample3.jpg" class="book-img" id="book-img">
        {% if user.authenticated %}
          <form action="{% url 'book:book_wish_detail' bonobono.pk %}" method="POST">
            {% csrf_token %}
            <a id="aSubmit" onclick="this.parentNode.submit(); return false;" href="#">
              <img src="/static/images/bucket.png" class="bucket" id="bucket">
            </a>
          </form>
          <a href="{% url 'book:sell_book_detail' bonobono.pk %}"><img src="/static/images/info.png" class="info" id="info"></a>
        {% else %}
          <a href="{% url 'book:main' %}">
            <img src="/static/images/bucket.png" class="bucket" id="bucket">
          </a>
          <a href="{% url 'book:main' %}"><img src="/static/images/info.png" class="info" id="info"></a>
        {% endif %}
      </div>
    </li>
    <li class="title">
      <a href="#">보노보노처럼 살다니 다행이야</a>
    </li>
    <li class="author">
      <a href="#">김신회</a>
    </li>
  </ul>
  <ul class="book-box" id="book-box">
    <li class="book-info">
      <div class="img-hover-show-box" id="img-hover-show-box">
        <img src="/static/images/book_sample3.jpg" class="book-img" id="book-img">
        <img src="/static/images/bucket.png" class="bucket" id="bucket">
        <img src="/static/images/info.png" class="info" id="info">
        <!-- <img src="" class="test info"> -->
      </div>
    </li>
    <li class="title">
      <a href="#">보노보노처럼 살다니 다행이야</a>
    </li>
    <li class="author">
      <a href="#">김신회</a>
    </li>
  </ul>
  <ul class="book-box" id="book-box">
    <li class="book-info">
      <div class="img-hover-show-box" id="img-hover-show-box">
        <img src="/static/images/book_sample3.jpg" class="book-img" id="book-img">
        <img src="/static/images/bucket.png" class="bucket" id="bucket">
        <img src="/static/images/info.png" class="info" id="info">
        <!-- <img src="" class="test info"> -->
      </div>
    </li>
    <li class="title">
      <a href="#">보노보노처럼 살다니 다행이야</a>
    </li>
    <li class="author">
      <a href="#">김신회</a>
    </li>
  </ul>

  <!-- 주간 베스트 셀러 -->
  <div class="this-week-best-seller">주간 베스트 셀러</div>

  <script>
    $(document).ready(function() {
      $('#book-box, #img-hover-show-box').hover(function() {
        $(this).find('#book-img').hide();
        $(this).find('#bucket, #info').show();
      }, function() {
        $(this).find('#book-img').show();
        $(this).find('#bucket, #info').hide();
      });
    });
  </script>
</body>
</html>
