{% load static %}

<link rel="stylesheet" href="{% static 'css/wish-list.css' %}">
<p class="wish-title">위시리스트</p>
<section class="wish-wrap">
  {% if lists %}
    {% for list in lists %}
    <article>
      <div class="cover-img">
        <img src="{{ list.book.book_info.cover_img }}">
      </div>
      <ul class="wish-lists">
        <li>
          <a href="{% url 'book:sell_book_detail' list.book.pk %}">
            {{ list.book.book_info.title|striptags }}
          </a>
        </li>
        <li>[중고가] {{ list.book.used_price }}원</li>
        <li><a class="buyBtn">바로구매</a></li>
      </ul>
    </article>
    {% endfor %}
  {% else %}
    <article style="color: #fafafa; margin-bottom: 20px; text-align: center; font-family: 'Nanumbarunpen';">
      No wishlists
    </article>
  {% endif %}
</section>

<div class="paginator">
  {% if lists.has_previous %}
  <a href="{{ request.path }}?page=1" class="pageNum" data-value="1">처음</a>
  <a href="{{ request.path }}?page={{ lists.previous_page_number }}" class="pageNum" data-value="{{ lists.previous_page_number }}">{{ lists.previous_page_number }}</a>
  {% endif %}
  <a class="current">{{ lists.number }}</a>
  {% if lists.has_next %}
  <a href="{{ request.path }}?page={{ lists.next_page_number }}" class="pageNum" data-value="{{ lists.next_page_number }}">{{ lists.next_page_number }}</a>
  <a href="{{ request.path }}?page={{ lists.paginator.num_pages }}" class="pageNum" data-value="{{ lists.paginator.num_pages }}">끝</a>
  {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
  // 페이지네이션
  $(".pageNum").click(function(e){
    var page_num = e.target.dataset.value;
    changePage(page_num);
  });

  function changePage(page_num){
    $.ajax({
      type: "GET",
      url: "{% url 'book:book_wish_list' %}" + "?page=" + page_num,
      success: function (response) {
        $("#wishScreen").html(response);
      },
      error: function (request, status, error) {
        $("#wishScreen").html(error);
      }
    });
    event.preventDefault();
  }
</script>
