{% load static %}

<link rel="stylesheet" href="{% static 'css/wish-list.css' %}">
<p class="wish-title">위시리스트</p>
<section class="wish-wrap">
  {% for list in lists %}
  <article>
    <div class="cover-img">
      <img src="{{ list.book.book_info.cover_img }}">
    </div>
    <ul class="wish-lists">
      <li>
        <a href="{% url 'book:sell_book_detail' list.book.book_info.pk %}">
          {{ list.book.book_info.title|striptags }}
        </a>
      </li>
      <li>[중고가] {{ list.book.used_price }}원</li>
      <li><a class="buyBtn">바로구매</a></li>
    </ul>
  </article>
  {% endfor %}
</section>
